alembic
autoinject>=1.1.0
azure-core
azure-storage-blob
click
flask
flask-autoinject>=1.1.0
flask-login
flask-wtf
markupsafe
jinja2
pyyaml
requests
sqlalchemy
toml
universalio
zirconium>=1.1.0
zrlog
psycopg2
gunicorn
gevent
