{% extends "base.html" %}
{% block content %}
<table cellpadding="0" cellspacing="0" border="0">
    <thead>
        <tr>
            <th>{{'pipeman.workflow_item.type' | gettext}}</th>
            <th>{{'pipeman.general.actions' | gettext}}</th>
        </tr>
    </thead>
    <tbody>
        {% for item, actions in items %}
        <tr>
            <td>{{'pipeman.workflow_types.' + item.workflow_type | gettext}}</td>
            <td><a href="{{item.object_link()}}">{{item.object_link_text()}}</a></td>
            <td>
                <ul>
                    {% for link, txt in actions %}
                    <li><a href="{{link}}">{{txt | gettext}}</a></li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
