{% macro showmenu(menu_items) -%}
    <ul class="menu">
        {% for txt, pth, subitems in menu_items %}
            <li class="menu-item">
                <a href="{{url_for(pth)}}">txt</a>
                {% if subitems %}
                {{ showmenu(subitems) }}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{%- endmacro %}
{% macro showformcontrol(control) %}
    {% if control.__class__.__name__ == "CSRFTokenField" or control.__class__.__name__ == "HiddenField" %}
        {{control}}
    {% elif control.__class__.__name__ == "BooleanField" %}
        <div class="form-field">
            <div class="form-label">
                &nbsp;
            </div>
            <div class="form-control">
                {{control}} {{control.label}}
            </div>
        </div>
    {% elif control.__class__.__name__ == "SubmitField" %}
        <div class="form-field">
            <div class="form-label">
                &nbsp;
            </div>
            <div class="form-control">
                {{control}}
            </div>
        </div>
    {% elif control.__class__.__name__ == "FieldList" %}
        <div class="form-field form-field-list">
            <div class="form-label">
                {{control.label}}
            </div>
            <div class="form-control">
                {{control}}
            </div>
        </div>
    {% else %}
        <div class="form-field">
            <div class="form-label">
                {{control.label}}
            </div>
            <div class="form-control">
                {{control}}
            </div>
        </div>
    {% endif %}
{%- endmacro %}
{% macro showform(form) -%}
    <form action="" method="POST"{% if with_file_upload %} enctype="multipart/form-data"{% endif %}>
        {% for control in form %}
            {{ showformcontrol(control) }}
        {% endfor %}
    </form>
{%- endmacro %}
<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        {% block scripts %}
            <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
            <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
            <script type="text/javascript">

                var current_num = 1;

                function remove_item_from_list(list_item) {
                    let list = list_item.parent();
                    let children = list.find("li").length;
                    if (children <= 1) {
                        window.alert("Cannot remove an item when there is only one item.");
                    }
                    else {
                        let id = list_item.find("label").attr("for");
                        let last_pos = id.lastIndexOf("-");
                        let id_num = parseInt(id.slice(last_pos + 1));
                        if (id_num < (children - 1)) {
                            list.find("li").each(function() {
                                let local_id = $(this).find("label").attr("for");
                                let local_last_pos = local_id.lastIndexOf("-");
                                let front_part = local_id.slice(0, local_last_pos);
                                let local_id_num = parseInt(local_id.slice(local_last_pos + 1));
                                if (local_id_num > id_num) {
                                    new_id = front_part + "-" + (local_id_num - 1)
                                    $(this).find("label").attr("for", new_id);
                                    $(this).find("input").attr("id", new_id);
                                    $(this).find("input").attr("name", new_id);
                                }
                            });
                        }
                        list_item.remove();
                    }
                }

                $(document).ready(function() {
                    $("div.form-field-list").each(function() {
                        let button_id = "form_button_" + current_num
                        $(this).find(".form-control").append("<div class='add-button'><a id='" + button_id + "'>Add Item</a></div>");
                        $("#" + button_id).click(function() {
                            let update_list = $(this).parent().parent().find("ul");
                            let update_example = update_list.find("li:first").clone();
                            let item_count = update_list.find("li").length;
                            let old_id = update_example.find("label").attr("for");
                            let new_id = old_id.slice(0, -1) + item_count;
                            update_example.find(".remove-button").remove();
                            update_example.find("label").attr("for", new_id);
                            update_example.find("input").attr("id", new_id);
                            update_example.find("input").attr("name", new_id);
                            let button_id = "form_button_" + current_num
                            update_example.append("<div class='remove-button'><a id='" + button_id + "'>-</a></div>");
                            update_list.append(update_example);
                            $("#" + button_id).click(function() {
                                remove_item_from_list($(this).parent().parent());
                            });
                            current_num += 1;
                        });
                        current_num += 1;
                        $(this).find(".form-control li").each(function() {
                            let button_id = "form_button_" + current_num
                            $(this).append("<div class='remove-button'><a id='" + button_id + "'>-</a></div>");
                            $("#" + button_id).click(function() {
                                remove_item_from_list($(this).parent().parent());
                            });
                            current_num += 1;
                        });
                    });
                });
            </script>
        {% endblock %}
        {% block style %}
            <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
        {% endblock %}
        <meta charset="utf-8" />
    </head>
    <body>
        <div class="container">
            {% block container %}
            <div class="body">
                {% block full_body %}
                <div class="nav">
                </div>
                {% block body %}
                    <div class="content">

                        {% with messages = get_flashed_messages(with_categories=true) %}
                            {% if messages %}
                                <ul class="messages">
                                    {% for category, message in messages %}
                                        <li class="{{category}}">{{message}}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        {% endwith %}
                        <h1>{{title}}</h1>
                        {% block content %}
                        {{ content }}
                        {% endblock %}
                    </div>
                {% endblock %}
                {% endblock %}
            </div>
            <hr style="clear: both" />
            <div class="footer">
                <p class="copyright">test{{"foobar.foo.bar" | gettext}}</p>


            </div>
            {% endblock %}
        </div>
    </body>
</html>
