{% macro pager(current_page, page_count) %}
<div class="pager_control">
    <p>{{'pipeman.general.pages' | gettext}} {{current_page}} / {{page_count}}</p>
    <ul class="table_actions">
        {% for i in range(0, page_count) %}
        <li><a href="?page={{i+1}}">{{i+1}}</a></li>
        {% endfor %}
    </ul>
    <br style="clear: both" />
</div>
{%- endmacro %}
{% macro action_list(actions) %}
{{actions.render('table_actions')}}
{%- endmacro %}
{% macro showmenu(menu_items) -%}
    <ul class="menu">
        {% for txt, pth, subitems, _ in menu_items %}
            <li class="menu-item">
                <a href="{{url_for(pth)}}">{{txt}}</a>
                {% if subitems %}
                {{ showmenu(subitems) }}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{%- endmacro %}
{% macro showformcontrol(control) %}
    {% if control.__class__.__name__ == "CSRFTokenField" or control.__class__.__name__ == "HiddenField" %}
        {{control}}
    {% elif control.__class__.__name__ == "BooleanField" %}
        <div class="form-field form-field-boolean-field">
            <div class="form-label">
                &nbsp;
            </div>
            <div class="form-control">
                {{control}} {{control.label}}
                {% if control.description %}
                <div class="form-description">{{control.description}}</div>
                {% endif %}
            </div>
            <br style="clear: both" />
        </div>
    {% elif control.__class__.__name__ == "SubmitField" %}
        <div class="form-field form-field-submit-field">
            <div class="form-label">
                &nbsp;
            </div>
            <div class="form-control">
                {{control}}
            </div>
            <br style="clear: both" />
        </div>
    {% else %}
        <div class="form-field form-field-{{control.__class__.__name__ | caps_to_snake('-')}}">
            <div class="form-label">
                {{control.label}}
            </div>
            <div class="form-control">
                {{control}}
            {% if control.description %}
            <div class="form-description">{{control.description}}</div>
            {% endif %}
            </div>
            <br style="clear: both" />
        </div>
    {% endif %}
{%- endmacro %}
{% macro showform(form) -%}
    <form action="" lang={{language}} method="POST"{% if with_file_upload %} enctype="multipart/form-data"{% endif %}>
        {% for control in form %}
            {{ showformcontrol(control) }}
        {% endfor %}
    </form>
{%- endmacro %}
<!DOCTYPE html>
<html lang="{{language}}" xml:lang="{{language}}">
    <head>
        <title>{{title}}</title>
        {% block scripts %}
            <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/i18n/fr.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
            <script src="https://npmcdn.com/flatpickr/dist/l10n/fr.js"></script>
            <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
            <script type="text/javascript" charset="utf8" src="{{url_for('static', filename='field_list.js')}}"></script>
            <script type="text/javascript" charset="utf8" src="{{url_for('static', filename='sesstimeout.js')}}"></script>
            <script type="text/javascript">

                let overflow_error = '{{'pipeman.html_error.overflow' | gettext}}';
                let underflow_error = '{{'pipeman.html_error.underflow' | gettext}}';
                let no_value_error = '{{'pipeman.html_error.missing_value' | gettext}}';
                let too_long_error = '{{'pipeman.html_error.too_long' | gettext}}';
                let too_short_error = '{{'pipeman.html_error.too_short' | gettext}}';
                let step_error = '{{'pipeman.html_error.step_error' | gettext}}';
                let pattern_error = '{{'pipeman.html_error.pattern_error' | gettext}}';
                let input_error = '{{'pipeman.html_error.input_error' | gettext}}';
                let email_format = '{{'pipeman.html_error.email_format_error' | gettext}}';
                let url_format = '{{'pipeman.html_error.url_format_error' | gettext}}';
                let tel_format = '{{'pipeman.html_error.tel_format_error' | gettext}}';

                $(document).ready(function() {
                    $("input").each(function() {
                        $(this).on("input", function(e) {
                            let obj = $(this).get(0);
                            original_message = obj.validationMessage;
                            obj.setCustomValidity("");
                            if (obj.validity.valueMissing) {
                                obj.setCustomValidity(no_value_error);
                            } else if (obj.validity.tooShort) {
                                obj.setCustomValidity(too_short_error.replace("{min}", $(this).attr("minlength")));
                            } else if (obj.validity.tooLong) {
                                obj.setCustomValidity(too_long_error.replace("{max}", $(this).attr("maxlength")));
                            } else if (obj.validity.rangeOverflow) {
                                obj.setCustomValidity(overflow_error.replace("{max}", $(this).attr("max")));
                            } else if (obj.validity.rangeUnderflow) {
                                obj.setCustomValidity(underflow_error.replace("{min}", $(this).attr("min")));
                            } else if (obj.validity.stepMismatch) {
                                obj.setCustomValidity(step_error.replace("{step}", $(this).attr("step")));
                            } else if (obj.validity.patternMismatch) {
                                obj.setCustomValidity(pattern_error.replace("{pattern}", $(this).attr("pattern")));
                            } else if (obj.validity.badInput) {
                                obj.setCustomValidity(input_error);
                            } else if (!obj.validity.valid) {
                                if ($(this).attr("type") == "email") {
                                    obj.setCustomValidity(email_format);
                                }
                                else if ($(this).attr("type") == "url") {
                                    obj.setCustomValidity(url_format);
                                }
                                else if ($(this).attr("type") == "tel") {
                                    obj.setCustomValidity(tel_format);
                                }
                                else {
                                    obj.setCustomValidity(original_message);
                                    window.alert(original_message);
                                }
                            }
                            obj.title = obj.validationMessage;
                            if (obj.validationMessage) {
                                $(this).addClass("form-error");
                                let box_count = $(this).parent().find(".form-error-message").length;
                                if (box_count > 0) {
                                    $(this).parent().find(".form-error-message").text(obj.validationMessage);
                                } else {
                                    $(this).parent().append("<div class='form-error-message'>" + obj.validationMessage + "</div>");
                                }
                            } else {
                                $(this).removeClass("form-error");
                                $(this).parent().find(".form-error-message").remove();
                            }
                        });
                    });
                });
            </script>
        {% endblock %}
        {% block style %}
            <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css" />
            <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='dfo.css')}}" />
            <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
        {% endblock %}
        <meta charset="utf-8" />
        <meta http-equiv="content-language" content="{{language}}" />
    </head>
    <body>
        {% block body %}
        <div class="container">
            <div class="header">
                <div class="sig_block">
                    <img src="{{url_for('static', filename='sig-blk-en.svg')}}" height="35" />
                </div>
                <div class="right_block">
                    <p class="site_title">{{'dfo.cnodc' | gettext}}</p>
                    <ul class="langswitch">
                        {% for lang in language_switchers %}
                        {% with txt, url, show = language_switchers[lang] %}
                        {% if show %}
                        <li><a href="{{url}}">{{txt}}</a></li>
                        {% endif %}
                        {% endwith %}
                        {% endfor %}
                    </ul>
                    <br style="clear: both" />
                </div>
                <br style="clear: both" />
                </div>
            <div class="topnav">
                {{showmenu(nav_user)}}
                <br style="clear: both" />
            </div>
            {% block container %}
            <div class="main_body">
                {% block main_body %}
                <div class="nav">
                    {{showmenu(nav_main)}}
                </div>
                {% block inner_body %}
                <div class="content">
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            <ul class="messages">
                                {% for category, message in messages %}
                                    <li class="{{category}}">{{message}}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    {% endwith %}
                    <h1>{{title}}</h1>
                    <div class="inner_content">
                        <div class="main_content">
                            {% block content %}
                              {{content}}
                            {% endblock %}
                        </div>
                        <div class="sidebar">
                            {% block sidebar %}
                              {{sidebar}}
                            {% endblock %}
                        </div>
                    </div>
                </div>
                {% endblock %}
                {% endblock %}
            </div>
            <hr style="clear: both" />
            <div class="footer">
                {% block footer %}
                <ul class="bottom_links">
                    <li><a href="{{url_for('dfo.help')}}">{{'dfo.help.link' | gettext}}</a></li>
                </ul>
                <div class="bottom_image">
                    <img src="{{url_for('static', filename='wmms-blk.svg')}}" width="200" />
                </div>
                <div class="session_block">
                {% if current_user.is_authenticated %}
                    <p class="session_timeout">{{'pipeman.session_logout' | gettext}}: {{current_user.session_timeout | format_datetime}}</p>
                    <script language="javascript" type="text/javascript">
                        $(document).ready(function() {
                            start_session_timeout("#session_timeout_box", "#time_left", {{current_user.session_time_left()}}, "{{url_for('auth.logout', _external=True)}}", "{{url_for('auth.refresh_session', _external=True)}}", "{{'pipeman.session_refresh_ajax_error' | gettext}}", 300);
                        });
                    </script>
                {% endif %}
                </div>
            {% endblock %}
            </div>
            {% endblock %}
        </div>
        {% endblock %}
        <div id="session_timeout_box" style="display: none;">
            <p>{{'pipeman.session_timeout_warning' | gettext}}</p>
            <p id="time_left">0:00</p>
            <p><a href="javascript:refresh_session();">{{'pipeman.refresh_session' | gettext}}</a></p>
        </div>
    </body>
</html>
