{% extends "base.html" %}
{% block content %}
<table cellpadding="0" cellspacing="0" border="0" class="data_table actions_table">
    <thead>
        <tr>
            <th>{{'pipeman.workflow_item.type' | gettext}}</th>
            <th>{{'pipeman.workflow_item.object' | gettext}}</th>
            <th>{{'pipeman.general.actions' | gettext}}</th>
        </tr>
    </thead>
    <tbody>
        {% for item, actions in items %}
        <tr>
            <td>{{('pipeman.workflow_types.' + item.workflow_type) | gettext}}</td>
            <td><a href="{{item.object_link()}}">{{item.object_link_text()}}</a></td>
            <td>{{action_list(actions)}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
