{% extends "base.html" %}
{% block content %}
<div class="real_content">
    <h1>{{'pipeman.entity.list' | gettext}}</h1>
    {% if create_link %}
    <p><a href="{{create_link}}">{{'pipeman.create_entity' | gettext}}</a></p>
    {% endif %}
    <table cellpadding="0" cellspacing="0" border="0">
        <thead>
            <tr>
                <th>{{'pipeman.entity.id' | gettext}}</th>
                <th>{{'pipeman.entity.display' | gettext}}</th>
                <th>{{'pipeman.general.actions' | gettext}}</th>
            </tr>
        </thead>
        <tbody>
            {% for entity, label, actions in entities.list_entities() %}
            <tr>
                <td>{{entity.id}}</td>
                <td>{{label}}</td>
                <td>
                    <ul class="table-actions">
                        {% for path, text in actions %}
                        <li><a href="{{path}}">{{text | gettext}}</a></li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
