{% extends "base.html" %}
{% block content %}
    <ul class="metadata-groups">
        {% for link, txt in groups %}
        <li><a href="{{link}}">{{txt}}</a></li>
        {% endfor %}
        <br style="clear: both;" />
    </ul>
    {% if instructions %}
        <div class="instructions">{{instructions}}</div>
    {% endif %}
    {{ showform(form) }}
{% endblock %}
{% block sidebar %}
<ul class="action_list">
    <li><a href="{{back}}">{{'pipeman.common.back' | gettext}}</a></li>
</ul>
{% endblock %}