{% extends "base.html" %}
{% block content %}
<table class="property-list" cellpadding="0" cellspacing="0">
    <tbody>
    <tr>
    <th>{{'auth_db.user.username' | gettext}}</th>
    <td>{{user.username}}</td>
    </tr>
    <tr>
    <th>{{'auth_db.user.display' | gettext}}</th>
    <td>{{user.display}}</td>
    </tr>
    <tr>
    <th>{{'auth_db.user.groups' | gettext}}</th>
    <td>
        <ul>
            {% for group in user.groups %}
            <li>{{group.display()}}</li>
            {% endfor %}
        </ul>
    </td>
    </tr>
    <tr>
    <th>{{'auth_db.user.organizations' | gettext}}</th>
    <td>
        <ul>
            {% for org in user.organizations %}
            <li>{{org.display()}}</li>
            {% endfor %}
        </ul>
    </td>
    </tr>
    </tbody>
</table>
{% endblock %}
{% block sidebar %}
{% if actions %}
<div class="subnav">{{actions}}</div>
{% endif %}
{% endblock %}
