{% extends "base.html" %}
{% block content %}
<table cellpadding="0" cellspacing="0" border="0" class="property-list">
    <tbody>
        <tr>
            <th>{{'pipeman.entity.id' | gettext}}</th>
            <td>{{entity.db_id}}</td>
        </tr>
        <tr>
            <th>{{'pipeman.entity.status' | gettext }}</th>
            <td>{% if entity.is_deprecated %}{{'pipeman.general.deprecated' | gettext}}{% else %}{{'pipeman.general.active' | gettext}}{% endif %}</td>
        </tr>
        <tr>
            <th>{{'pipeman.entity.display' | gettext}}</th>
            <td>{{entity.label()}}</td>
        </tr>
        {% for label, value in entity.display_values() %}
        <tr>
            <th>{{label}}</th>
            <td>{{value}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
{% block sidebar %}
{% if actions %}
<div class="subnav">
    {{actions}}
</div>
{% endif %}
{% endblock %}
